<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105537675605-nfvihms036eac11h4s1bravmf1ikg7gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105537675605-nfvihms036eac11h4s1bravmf1ikg7gl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105537675605-87te5ukbqjkfh02qt53hje01caahgruq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg467_NrwYtZFRD-vuv1SksZk4BdwTEDk</string>
	<key>GCM_SENDER_ID</key>
	<string>105537675605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vezbynature.googlePlacepicker</string>
	<key>PROJECT_ID</key>
	<string>namma-kirana</string>
	<key>STORAGE_BUCKET</key>
	<string>namma-kirana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105537675605:ios:3ab2028bf63cda0fe44fdc</string>
	<key>DATABASE_URL</key>
	<string>https://namma-kirana.firebaseio.com</string>
</dict>
</plist>